/* webpage designs */
html {
    min-height: 100%;
    position: relative;
}
body {
    background-image: url("../images/background.png");
    background-size: 100% 100%;
    color: white;
    height: inherit;
    font-size: 17px;
}
container {
    height: inherit; 
}
/* title design */
.title {
    position: absolute;
    top: 10%;
    right: 39%;
    left: 39%;
    text-align: center;
}
/* Civil War */
h1 {
    font-size: 51px;
    color: darkblue; 
    font-family: 'Bungee', cursive;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}
/* Marvel RPG */
h3{
    font-size: 17px;
    color: red;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
/* Part 2 */
h5{
    font-size: 19px; 
    font-family: 'Ramabhadra', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* terminal design */
.log {
    position: absolute;
    border: 2px solid blue;
    font-family: 'PT Mono', monospace;
    border-radius: 30px 30px 0px 0px;
    top: 75%;
    bottom: 1%;
    left: 41%;
    right: 35%;
    padding: 10px;
    overflow: hidden;
}
/* player design */
.player-stats {
    padding: 2%;
    position: absolute;
    border: 5px solid green;
    border-radius: 30px 0px 0px 0px;
    right: 0%;
    bottom: 1%;
    left: 66%;
    top: 75%;
}
#player-img  img {
    width: 40%; 
    float: left;
}
.stats {
    display: inline-block;
    margin: 5%;
}
/* character design */
.characterScreen {
    position: absolute;
    background-color: lightgrey;
    bottom: 20%;
    top: 10%;
    left: 10%;
    right: 10%;
    text-align: left;
    padding: 90px 30px;
    color: black;
    font-size: 40px;
    border-radius: 50px;
}
.characterList {
    display: flex;
    justify-content: space-between;
    font-size: 22px; 
    margin-top: 20px;
}
.character {
    width: 20%; 
    text-align: center;
    border: 2px solid black;
    background-color: white;
    color: black;
}
.character img {
    width: 90%;
    height: 70%;
}
/* enemies design */
.enemy-stats {
    font-size: 19px; 
    position: absolute;
    border: 2px solid red;
    border-radius: 0px 30px 0px 0px;
    top: 75%;
    bottom: 1%;
    left: 1%;
    right: 60%;
    color: red;
    padding: 5px; 
}
.enemyList{
    display: flex;
    justify-content: space-between;
}
.enemy {
    width: 30%; 
    margin: 10px auto; 
    text-align: center;
    border: 2px solid black;
    background-color: red;
    color: white;
}
.enemy img {
    width: 70%;
    height: 58%;
}
/* defender sights design */
.defendZone {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: absolute;
    border: 2px solid black;
    left: 37%;
    right: 40%;
    top: 30%;
    bottom: 42%;
    text-align: center;
    font-size: 18px;
}
.defender {
    width: 70%; 
    margin: 4px auto; 
    text-align: center;
    border: 2px solid red;
    background-color: black;
    color: white;
}
.defender img {
    width: 70%;
    height: 57%;
}
/* Controls design */
#controls {
    position: absolute;
    top: 59%;
    left: 43%;
    right: 47%;
}
button {
    padding: 10px 20px;
    border: 2px solid green; 
    color: green;
    font-size: 200%;
    background-color: white;
}
#reset {
    color: red;
    border-color: red;
}
@media screen and (max-width: 960px) {
    body {
        font-size: 12px;
    }
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    h5 {
        font-size: 24px; 
    }
    .characterScreen {
        padding: 45px 20px; 
    }
    .character {
        font-size: 15px;
    }
    .enemy, .defender {
        margin: 0px auto;
        font-size: 13px;
    }
    .enemy img {
        width: 70%;
        height: 61%;
    }
    .defender img {
        width: 67%;
    }
}
@media screen and (max-width: 768px) {
    body {
        font-size: 10px; 
    }
    h1 {
        font-size: 28px;
    }
    h3 {
        font-size: 10px;
    }
    .stats {
        margin: 2%;
    }
    .characterScreen {
        padding-top: 75px;
    }
    .characterList {
        margin-top: 30px;
    }
    .character {
        font-size: 13px;
    }
    .enemy, .defender {
        margin: 10px auto;
        font-size: 10px;
    }
    .defender {
        width: 90%;
    }
    .enemy img {
        width: 70%;
        height: 61%;
    }
    .defender img {
        width: 67%;
    }
}
@media screen and (max-width: 576px) {
    body {
        font-size: 8px; 
    }
    h1 {
        font-size: 26px;
    }
    h3 {
        font-size: 10px;
    }
    h5 {
        font-size: 10px;
    }
    .stats {
        margin: 5%;
        font-size: 12px; 
    }
    #player-img img {
        width: 40%;
    }
    .characterScreen {
        padding-top: 75px;
    }
    .characterList {
        margin-top: 30px;
    }
    .character {
        font-size: 10px;
    }
    .enemy, .defender {
        margin: 10px auto;
        font-size: 8px;
    }
    .defender {
        width: 90%;
    }
    .enemy img {
        width: 70%;
        height: 61%;
    }
    .defender img {
        width: 67%;
    }
}